name: Pipeline for Testing
on:
  push:
    branches: [main]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    environment: ${{ format('env-{0}', github.ref_name) }}
    env:
      ENV: 'dev'
    steps:
      - run: echo "IT WORKED!"
      - name: Dynamic Variables
        run: echo Setting dynamic variables
        if: github.ref_name == 'main'
        env:
          ENV: 'prd'
      - run: eco ${{ ENV }}
